*.pyc
*.swp
env
*.egg-info
build
dist
scratch.py
*.exe
*.o

# CI/CD specific files
temp_input*.txt
bench_input.txt

# OSX
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Spyder
.spyproject
*.xml

# jupyter
.ipynb_checkpoints

# VSCode
.vscode
venv

# Pytest and coverage stuff
.benchmarks
.pytest_cache
.coverage*
htmlcov
sitecustomize.py

# Doc
docs/_build
docs/site.webmanifest